<body bgcolor="#34495e">
  <%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2>What have you just done?</h2>
<br />

  <div class="field">

    <%= f.text_field :taskcomplete %><%= f.submit class: "btn btn-info" %>
  </div>
<br />
<div class="actions">
    <br />
    <br />
    <%= link_to 'List of completed tasks', tasks_path, class: "btn btn-info" %>
  </div>
<% end %>
<br />
<br />
  <% if user_signed_in? %>
    <p>You are currently logged in..</p>
    <%= link_to :logout,  destroy_user_session_path, class: 'btn btn-info', method: :delete %>
  <% else %>
    <br />
    <br />
 <small>It's important to create an account because that is how you are able to communicate with us. You can't easily create an account by clicking "New user" above.</small>
<% end %>
