<body bgcolor="#2980b9">
  <%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <big>This view is fundamentally broken.. Only reason it's still here is because I am unsure what to do with it</big>
<h2>What have you just done?</h2>

<br />

  <div class="field">

    <%= f.text_field :taskcomplete, :placeholder => "Enter what you just did!" %>
    <br />
    <br />
    <%= f.text_field :name, :placeholder => "What's your name?" %>
    <br />
    <br /><%= f.submit 'Submit!', class: "btn btn-success" %>
  </div>

<br />
<div class="actions">
    <br />
    <!--
    <a class="btn btn-primary" href="#">Cleaned Kitchen</a>
    <a class="btn btn-primary" href="#">Cleaned Bathroom</a>
    <a class="btn btn-primary" href="#">Cleaned Living Room</a>
    <br />
    <br />
    <br />
  -->
    Check out what everyone else has done 
    <br />
    <br />
    <%= link_to 'List of completed tasks', tasks_path, class: "btn btn-inverse" %>
  </div>
<% end %>
<br />
<br />
  <% if user_signed_in? %>
    <p>You are currently logged in..</p>
    <%= link_to :logout,  destroy_user_session_path, class: 'btn btn-danger', method: :delete %>
  <% else %>
    <br />
    <br />
 <small>It's important to create an account because that is how you are able to communicate with us. You can't easily create an account by clicking "New user" above.</small>
<% end %>
