<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h4>Enter the Task you just completed</h4>
    <%= f.text_field :taskcomplete %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>


  <% if user_signed_in? %>
    <p>You are currently signed in..</p>
    <%= link_to :logout,  destroy_user_session_path, class: 'btn btn-danger', method: :delete %>
  <% else %>
    <br />
    <br />
 <small>It's important to create an account because that is how you are able to communicate with us. You can't easily create an account by clicking "New user" above.</small>
<% end %>
