<div class="hero-unit">
<h2 id="notice"><%= notice %></h2>

  <h1>Thank you so much, The house loves you!</h1>
  <br />
  <p>You submitted: "<%= @task.taskcomplete %>"</p>
  <br />
  <p>Time submitted: <%= @task.created_at %></p>
</p>
</div>
<hr>
<br />


<!--<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary' %> -->
<br />
<br />
<%= link_to 'Home', tasks_path, class: 'btn btn-inverse' %>
<%= link_to :logout,  destroy_user_session_path, class: 'btn btn-danger', method: :delete %>