<body bgcolor="#2980b9">
<h2 id="notice"><%= notice %></h2>

<p>
  <h4>Thank you so much, The house loves you!</h4>
  <br />
  <small>You submitted: "<%= @task.taskcomplete %>"</small>
  <br />
  <small>Time submitted: <%= @task.created_at %></small>
</p>
<br />


<!--<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary' %> -->
<br />
<br />
<%= link_to 'Home', tasks_path, class: 'btn btn-large btn-inverse' %>